<div>
   <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
   <div class="col-lg-8 col-md-18 col-sm-8 col-xs-8">
       <div class="row">
           <div class="search-area">
               <form class="form-inline" role="form">
                  <div class="form-group">
                    <input type="text" ng-model="term" class="form-control search-textbox" id="txt-search"
                           placeholder="Search Videos">
                  </div>
                    <button ng-click="search()" class="btn btn-default">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                   <a href="#/search">Show All</a>
                </form>
           </div>
       </div>

       <div class="panel panel-info">
          <div class="panel-heading">Uploaded Videos</div>
          <div class="panel-body">
              <div ng-repeat="item in videos" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 fit-padding">
                <div class="thumbnail" ng-if="item.UploadStatus === 'TRANSCODE_COMPLETED'">
                  <a ng-href="/#/video/{{item.VideoId}}">
                   <img class="play-button" ng-src="images/Play.png"/>
                    <img class="thumbnail-image" alt="Image available"
                         src="//d1w9ixm9n8g3f0.cloudfront.net/{{item.ThumbLocation}}" />
                  </a>
                  <div class="caption">
                    <h3><a ng-href="/#/video/{{item.VideoId}}">{{item.Title}}</a></h3>
                    <p>Uploaded: {{item.Created | parseDate | date: 'medium'}}</p>
                  </div>
                </div>
                <div class="thumbnail" ng-if="item.UploadStatus === 'TRANSCODE_ERROR'">
                  <img class="thumbnail-image" alt="Image available"
                       src="//placeholdit.imgix.net/~text?txtsize=20&txt=Error&w=135&h=135"/>
                  <div class="caption">
                    <h3>{{item.Title}}</h3>
                    <p>Uploaded: {{item.Created | date: 'medium'}}</p>
                  </div>
                </div>
                <div class="thumbnail" ng-if="item.UploadStatus !== 'TRANSCODE_COMPLETED'">
                  <img class="thumbnail-image" alt="Image available"
                       src="//placeholdit.imgix.net/~text?txtsize=20&txt=Processing&w=135&h=135"/>
                  <div class="caption">
                    <h3>{{item.Title}}</h3>
                    <p>Uploaded: {{item.Created | date: 'medium'}}</p>
                  </div>
                </div>

              </div>
          </div>
        </div>
   </div>
   <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
</div>
